.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

.nav-container {
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex: 1;
    min-height: 0;
}

.journal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
}

.products {
    width: 50%;
    height: 100%;
}