<mat-toolbar color="primary" class="topbar">
    <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Smart POS</span>
    <div class="nav-icon">
        <button class="button" (click)=addProduct()>
            <mat-icon class="icon">add</mat-icon>
            <mat-label class="label">Add Product</mat-label>
        </button>

        <button class="button" (click)=addProduct()>
            <mat-icon class="icon">add</mat-icon>
            <mat-label class="label">Archive</mat-label>
        </button>
    </div>
</mat-toolbar>